[Desktop Entry]
Name=Discord
Comment=Open Discord in the browser
Exec=chromium --app=https://discord.com/channels/@me
Icon=discord
Terminal=false
Type=Application
Categories=WebApplication
