[Desktop Entry]
Name=Discord
Comment=Open Discord in the browser
Exec=firefox --new-window https://discord.com/channels/@me
Icon=discord
Terminal=false
Type=Application
Categories=WebApplication
