* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
    color: #ffffff;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.6); 
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0px 1px;
}

#clock, #cpu, #memory, #pulseaudio, #window {
    padding: 0px 5px;
    margin: 0px 5px;
}
