* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 0 0 10px 10px;
}

#cpu,
#memory,
#pulseaudio,
#clock,
#workspaces {
    border: none;
    border-top: none;
    border-bottom: none;
    
    box-shadow: none;
    text-shadow: none;
    transition: none;

    padding: 0;
    margin: 0 1rem;
}

#workspaces button {
    padding: 0;
    margin: 0 0.25rem;
    background: transparent;

    border: none;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    text-shadow: none;
    transition: none;
    color: white;
}

#workspaces button:hover {
    background: transparent;
    color: rgba(255, 255, 255, 0.5);

    border: none;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active {
    border: none;
    border-top: none;
    box-shadow: none;
}

