configuration {
    modi: "drun,window";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   ";
    display-window: "   ";
    
    sort: true;
    sorting-method: "fzf";
}

/* Import styling */
@import "current.rasi"
